<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List B</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'todolist.css' %}">
    
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <section class="tasklist">
        <ul>
            {% for item in tasklist %}
                <div class="task">
                    {% if item.is_done == False %}
                        <span class="material-symbols-outlined">radio_button_unchecked</span>
                    {% else %}
                        <span class="material-symbols-outlined">radio_button_checked</span>
                    {% endif %}
                    <span class="tasktitle">{{item.title}}</span>
                </div>
            {% endfor %}
        </ul>
    </section>
    
    
</body>
</html>